@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply scroll-smooth
}

h1 {
    @apply text-2xl md:text-4xl lg:text-5xl
}

.hero {
    background-image: url(./assets/hero-bg.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
}