@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply scroll-smooth
}


h1 {
    @apply text-3xl xl:text-5xl font-black
}

p {
    @apply xl:text-2xl text-xs
}

#hero {
    background-image: url(./assets/hero-bg.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: cover;
}

#ooyy {
    background-image: url(./assets/ooyy-bg.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
}

#yomoti {
    background-image: url(./assets/yomoti-bg.svg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: cover;
}

#luwaks {
    background-image: url(./assets/luwaks-bg.svg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: cover;
}

#harvio {
    background-image: url(./assets/harvio-bg.svg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: cover;
}
