@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply scroll-smooth
}

#hero {
    background-image: url(./assets/hero-bg.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
}

#ooyy {
    background-image: url(./assets/ooyy-bg.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
}

#yomoti {
    background-image: url(./assets/yomoti-bg.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
}

